Repository bitpanda-labs/bitpanda-public-api-mcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-json
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: no-commit-to-branch
        args: [--branch=main]
      
  - repo: https://github.com/wemake-services/dotenv-linter
    rev: 0.2.0
    hooks:
      - id: dotenv-linter
        files: ^\.env(\.?.*)$
        
  - repo: local
    hooks:
      #Â https://github.com/astral-sh/ruff-pre-commit/blob/main/.pre-commit-hooks.yaml
      - id: ruff-format
        name: ruff-format
        alias: format
        description: "Run 'ruff format' for extremely fast Python formatting"
        entry: bash -c 'if [ -n "${CI}" ]; then ruff format --force-exclude "$@"; else poetry run ruff format --force-exclude "$@"; fi' dummy-first-arg
        language: python
        types_or: [python, pyi]
        args: []
        require_serial: true
        additional_dependencies: []
        minimum_pre_commit_version: "2.9.2"

      - id: ruff-lint
        name: ruff-lint
        alias: lint
        description: "Run 'ruff' for extremely fast Python linting"
        entry: bash -c 'if [ -n "${CI}" ]; then ruff check --force-exclude "$@"; else poetry run ruff check --force-exclude "$@"; fi' dummy-first-arg
        language: python
        types_or: [python, pyi]
        args: []
        require_serial: true
        additional_dependencies: []
        minimum_pre_commit_version: "2.9.2"

      # https://github.com/python-poetry/poetry
      - id: poetry-check
        alias: lint
        name: poetry-check
        description: run poetry check to validate config
        entry: poetry check
        language: python
        pass_filenames: false
        files: ^(.*/)?pyproject\.toml$

      - id: mypy
        alias: lint
        name: mypy
        entry: bash -c 'if [ -n "${CI}" ]; then mypy "$@"; else poetry run mypy "$@"; fi' dummy-first-arg
        language: system
        types: [python]
        require_serial: true

Remove precommit hook
  .pre-commit-config.yaml
Due: none

Migrate endpoints to new developer API
  .env.example
  README.md
  bp_mcp/auth.py
  bp_mcp/bitpanda_mcp_server.py
  bp_mcp/exception_handlers.py
  bp_mcp/schemas/__init__.py
  bp_mcp/schemas/assets.py
  bp_mcp/schemas/common.py
  bp_mcp/schemas/errors.py
  bp_mcp/schemas/trades.py
  bp_mcp/schemas/transactions.py
  bp_mcp/schemas/wallets.py
  bp_mcp/utils.py
  ci/docker/Dockerfile
  mypy.ini
  poetry.lock
  pyproject.toml
  tests/cassettes/test_get_asset_by_id.yaml
  tests/cassettes/test_get_asset_not_found.yaml
  tests/cassettes/test_get_bitpanda_asset_wallets.yaml
  tests/cassettes/test_get_bitpanda_asset_wallets_pagination.yaml
  tests/cassettes/test_get_bitpanda_fiat_wallets.yaml
  tests/cassettes/test_get_bitpanda_fiat_wallets_transactions.yaml
  tests/cassettes/test_get_bitpanda_list_crypto_wallets.yaml
  tests/cassettes/test_get_bitpanda_trades.yaml
  tests/cassettes/test_get_list_crypto_transactions.yaml
  tests/cassettes/test_get_transactions.yaml
  tests/cassettes/test_get_transactions_with_filters.yaml
  tests/cassettes/test_get_wallets.yaml
  tests/cassettes/test_get_wallets_pagination.yaml
  tests/test_auth.py
  tests/test_main.py
Due: poetry-check, mypy

We only expose now the mcp endpoint
  README.md
Due: none

Remove APP_ENV environment variable
  .env.example
  README.md
  bp_mcp/bitpanda_mcp_server.py
  bp_mcp/schemas/settings.py
  tests/test_main.py
Due: mypy

Remove redundant Configuration notes section from README
  README.md
Due: none

Simplify health check endpoint to only return status
  bp_mcp/bitpanda_mcp_server.py
  tests/test_main.py
Due: mypy

Remove APP_ENV environment variable and simplify README (#44)
  .env.example
  README.md
  bp_mcp/bitpanda_mcp_server.py
  bp_mcp/schemas/settings.py
  tests/test_main.py
Due: mypy

Change license to apache 2.0; Remove APP_ENV (#46)
  LICENSE
Due: none

chore: upgrade all dependencies and ci tooling
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .github/workflows/uv-lock.yml
  pyproject.toml
  uv.lock
Due: poetry-check

fix(ci): revert setup-uv to v7, v8 tag does not exist
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .github/workflows/uv-lock.yml
Due: none

fix: sync uv.lock with updated pyproject.toml constraints
  .github/workflows/uv-lock.yml
  uv.lock
Due: none

fix(ci): use pr head sha and repo for fork-safe checkout in uv-lock check
  .github/workflows/uv-lock.yml
Due: none

chore: upgrade all dependencies and ci tooling (#79)
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .github/workflows/uv-lock.yml
  pyproject.toml
  uv.lock
Due: poetry-check

chore: release 0.2.1
  pyproject.toml
Due: poetry-check

chore: update uv.lock for 0.2.1
  uv.lock
Due: none

chore: release 0.2.1 (#80)
  pyproject.toml
  uv.lock
Due: poetry-check

fix: tolerate malformed asset lookups when resolving skipped assets
  src/bitpanda_mcp/tools/market.py
  src/bitpanda_mcp/tools/portfolio.py
  tests/test_market.py
  tests/test_portfolio.py
Due: mypy

docs: add archive notice to README
  README.md
Due: none

docs: clarify archive notice wording
  README.md
  uv.lock
Due: none

docs: add archive notice to README (#87)
  README.md
  uv.lock
Due: none
